@import "../mixins/mixin.scss";

.advantages-container {
  margin-top: 70px;
  padding: 24px;
  width: 100%;
  height: 100%;
  max-width: 1136px;
  max-height: 470px;
  display: flex;
  gap: 16px;
  @include container-border;
}
