@import "../mixins/mixin.scss";

.advantages-container {
  padding: 24px;
  width: 100%;
  height: 100%;
  max-width: 1136px;

  display: flex;
  gap: 16px;
  @include container-border;

  @media (max-width: 992px) {
    flex-direction: column;
    width: 770px;
  }

  @media (max-width: 500px) {
    width: 343px;
    padding: 16px;
  }
}
