.btn {
  padding: 16px 24px;
  max-height: 48px;
  max-width: 165px;
  border-radius: var(--btn-border-radius);
  margin-top: auto;
  & &__icon {
    width: 12px;
    height: 12px;
  }

  &--primary {
    background: var(--btn-primary-bg-color);
  }
}
